@font-face {
   font-family: 'Material Symbols Outlined';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///Users/ujka/Downloads/20250630_015734/fonts/Material Symbols Outlined/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Material Symbols Outlined';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///Users/ujka/Downloads/20250630_015734/fonts/Material Symbols Outlined/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Material Symbols Outlined';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///Users/ujka/Downloads/20250630_015734/fonts/Material Symbols Outlined/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Material Symbols Outlined';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///Users/ujka/Downloads/20250630_015734/fonts/Material Symbols Outlined/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Material Symbols Outlined';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///Users/ujka/Downloads/20250630_015734/fonts/Material Symbols Outlined/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Material Symbols Outlined';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/ujka/Downloads/20250630_015734/fonts/Material Symbols Outlined/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Material Symbols Outlined';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/ujka/Downloads/20250630_015734/fonts/Material Symbols Outlined/regular.ttf') format('truetype');
}
