@font-face {
   font-family: 'Tilt Warp';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/ujka/Downloads/20250630_015734/fonts/Tilt Warp/regular.ttf') format('truetype');
}
