@font-face {
   font-family: 'Nexa-Bold';
   font-display: swap;
   src: url('file:///C:/Users/ADMIN/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-03-22_184001/fonts/Nexa-Bold/font.ttf');
}
